/* This makes the footer fixed at the bottom of the page */

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

main {
   flex: 1 0 auto; 
   min-height: 100vh; 
}

.page-footer{
  padding-top: 0px; 
}

#app, #app>div {
  min-height: 100%;
  flex: 1 0 auto;
}
